.git
.gitignore
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
.env
.env.*
*.md
debug_stash
**/debug_stash
.pytest_cache
.venv
venv
*.egg-info
dist
build
.cursor
*.png
*.jpg
*.jpeg
!requirements.txt
